<!doctype html>
<html lang="en">
  
  <head>

    <meta charset="utf-8">
    <title><%= @title %></title>

    <link rel="stylesheet" href="/stylesheets/screen.css">

    <!--[if lt IE9]>
    	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <header role="banner">
      <h1><a href="/"><%= image "serve-logo" %></a></h1>
      <div class="action-link"><a href="http://get-serve.com/documentation">Documentation</a></div>

      <%= render "/common/nav-primary" %>

    </header>
    
    <section role="main">

      <article>
        <header><h1><%= @title %></h1></header>
        <%= yield %>
      </article>

    </section>

    <!-- Footer -->

    <%= render "/common/footer" %>


    <script src="/javascripts/jquery.js" async defer></script>
    <script src="/javascripts/enhancements.js" async defer></script>

  </body>
</html>